.idea
.DS_Store

Data-Pipeline/data/version_1
Data-Pipeline/data/version_2
Data-Pipeline/data/version_3

Data-Pipeline/scripts/__pycache__/
Data-Pipeline/scripts/.ipynb_checkpoints
Data-Pipeline/tests/__pycache__/

airflow_home/logs/
Data-Pipeline/logs/
airflow_home/logs/dag_processor_manager/dag_processor_manager.log


airflow_home/airflow.db
Data-Pipeline/airflow.db
Data-Pipeline/webserver_config.py

# Ignore all .log files in Data-Pipeline/logs/
Data-Pipeline/logs/*.log

# Ignore all .log files in airflow_home/logs/
airflow_home/logs/*.log